.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: calc(100vh - 128px - 56px);
    /* viewport height - footer - toolbar */
}

.ag-theme-alpine {
    --ag-font-size: 18px;
}

/* .main-content[_ngcontent-ng-c362237263] {
    min-height: calc(100vh - 128px);
    padding: 1rem;
    width: 50%;
} */