<div class="confirmation-container">
    <mat-icon class="success-icon">check_circle</mat-icon>

    <h2 mat-dialog-title>Booking Confirmed!</h2>

    <mat-dialog-content>
        <div class="confirmation-details">
            <p class="booking-id">Booking ID: {{data.bookingId}}</p>

            <div class="books-list">
                <h3>Books Reserved:</h3>
                <ul>
                    <li *ngFor="let book of data.books">
                        {{book.title}}
                        <br>
                        <small>Location: {{book.location}}</small>
                    </li>
                </ul>
            </div>

            <div class="instructions">
                <p>Your books have been successfully reserved and are waiting for retrieval.</p>
                <p>Please bring this booking ID when you visit the location.</p>
                <p>Reservation will be held for 48 hours.</p>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="onClose()">
            Done
        </button>
    </mat-dialog-actions>
</div>